version: '3.8'

services:
  db:
    image: postgres:15
    container_name: liao_db
    restart: always
    env_file:
      - .env
    environment:
      # These map the .env variables to the names Postgres expects
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
  pgadmin:
    image: dpage/pgadmin4
    container_name: liao_db_pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80" # Access at http://localhost:5050
    depends_on:
      - db
volumes:
  postgres_data: